*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
#Rayan Treebhowon N01226282#
#Tsidkeenu Aznar N01300801#
#Satyam Dalvadi N01333116#
#Jagminder Sembi N01300801#

